html,body{
    margin: 0;
    padding: 0;
    width: 100%
}

/*HomeContainer*/
#homeContainer{
    background-image:url("/public/images/testbackground.jpg");


}

body { font-size: 140% }

table.dataTable th,
table.dataTable td {
    white-space: nowrap;
}

#whyContainer {
    background-color: lightblue;
    padding:0px;
}


.resultContainer{
    padding-top: 10%;
}

.center{
 text-align: center;

}

.lrgGlyphicon{
    font-size: 1.2em;
}

/* Card for displaying an item preview*/
.card {
    background-color: white;
    border: 0px;
        position: relative;
        padding: 50px;
            border-radius: 0;
            margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.navbarBackground{
    background-color: seagreen;
    color: white;
}

.rentalFee{
    background-color: #39D1B4 ;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width:50px;
    position: absolute;
    top: -20px;
    right: 20px;
}

.modal-bg{
    background-color: aliceblue;
}

.navbar-default {
    background-color: #2b8e63;
    border-color: #b250db;
    padding-bottom: 0px;

}


.navbar-default .navbar-brand {
    color: #ecf0f1;
    padding-top:0px;
    padding-left:0px;
    padding-bottom: 0px;

}

.navbar-static-top{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.padded{
    padding: 10px;
}

.removePadding{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}



.hideElement{
    visibility: hidden;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ecdbff;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #2b8e63;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ecdbff;
    background-color: #b250db;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #2b8e63;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #b250db;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #b250db;
}
.navbar-default .navbar-toggle {
    border-color: #b250db;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #b250db;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #b250db;
    }
    .body {
        padding-top: 0px;
    }
}
body{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-top: 25px;
    background-color:#EDECEA ;
}

.contentContainer{
    margin:0%
}




.required:after{
    content : "*";
    font-weight : bold ;
    color : red ;
}
.labelColors {
    color : red ;
}
.noBorder {
    border: none;
    background: transparent;
    overflow: auto;
    text-align: justify;
    padding: 0px;
}
.textArea_noHorizontalResize{
    resize: vertical;
}
.vertical-quater{
    position: absolute;
    top: 25%;
    left: 50%
}
.float-right{
    float: right;
}
.no-padding{
    padding: 0px;
}
.overflow-auto{
    overflow: auto;
}

.contactform {
    width: 460px;
    font-family: arial;
    border: 1px solid #AAA;
    padding:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.contactformheader {
    font-size:18px;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
.contactformmessage {
    text-align:center;
    padding-bottom:10px;
}
.contactform td {
    padding:4px;
    font-size:12px;
}
.contactform p {
    padding:4px;
}
.contactform label {
    padding:4px;
}
.contactform label {
    padding-right:10px
}
.required {
    font-weight:bold;
}
.required_star {
    font-weight:bold;
    color:#F00;
}
.not-required {
    font-weight:normal
}
.antispammessage {
    padding:10px;
    border-top:1px solid #AAA;
    border-bottom:1px solid #AAA;
    font-weight:bold
}
.antispamquestion {
    font-weight:normal;
}


/*table css*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 8px;
    left: 4px;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    content: '+';
    background-color: #31b131;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child.dataTables_empty:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '-';
    background-color: #d33333;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
    display: none;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
    padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 12px;
}
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
    position: relative;
    cursor: pointer;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    content: '+';
    background-color: #31b131;
}
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    content: '-';
    background-color: #d33333;
}
table.dataTable > tbody > tr.child {
    padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
    background: transparent !important;
}
table.dataTable > tbody > tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.dataTable > tbody > tr.child ul li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul li:first-child {
    padding-top: 0;
}
table.dataTable > tbody > tr.child ul li:last-child {
    border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}
footer {
    	    width:100%;
    	    background-color:#2b8e63;;
    	}
footer div {
          font-size: 1.4em;
          position: relative;
          width: 960px;
          margin: 0 auto;
          padding: 30px 0 40px 40px;
      }


.left-col{
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}