@(accitems: java.util.List[helpers.ShowItems])(itemType: String)
@main("default") {

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>


    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
    $('#accountItemsTable').DataTable();
      } );
    </script>


    <h2 class="marginTop"><strong>Your @itemType items</strong></h2>
    <div class="col-md-8 ">
        <table id="accountItemsTable" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>From:</th>
                    <th>To:</th>
                    <th></th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            @for(accitems <- accitems) {
                <tr>
                    <td>@accitems.itemName</td>
                    <td>@accitems.itemFromDate</td>
                    <td>@accitems.itemToDate</td>
                    <td><button type="button" class="btn btn-primary btn-default" data-toggle="modal"
                    data-target="#@accitems.itemId">Details</button>
                    </td>
                    <td>
                        @if(accitems.status.equalsIgnoreCase("yes")) {
                            <span class="label label-success">
                                @if(itemType.equalsIgnoreCase("listed")){Rented}
                                @if(itemType.equalsIgnoreCase("rented")){Approved}
                            </span>
                        }
                        @if(accitems.status.equalsIgnoreCase("pending")) {
                            <span class="label label-warning">Pending</span>
                        }
                    </td>

                </tr>
            }
            </tbody>
        </table>

        @for(accitems <- accitems) {
            <form method="post" action="modifyItemDetails">
                <div class="modal fade" id="@accitems.itemId" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content modal-bg">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="previewModalTitle"> Item Details </h2>
                            </div>
                            <div class="modal-body">

                                <div class="form-group row">
                                    <label class="control-label col-sm-2" for="accItemName">Item Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="accItemName" id="accItemName" value="@accitems.itemName"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-2" for="accItemTitle">Item Title:</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="accItemTitle" id="accItemTitle" value="@accitems.itemTitle"/>
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <label class="control-label col-sm-2" for="accItemDescription">Item Description:</label>

                                    <div class="col-sm-8">
                                        <div class="col-sm-8">
                                            <textarea rows="2" cols="40" id="accItemDescription"
                                            name="accItemDescription">@accitems.itemDescription</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-2" for="accItemDuration">Duration:</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> From:</span></span>
                                            <input type="text" class="form-control" id="accItemFromDate" name="accItemFromDate"
                                            value="@accitems.itemFromDate">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> To:</span></span>
                                            <input type="text" class="form-control" id="accItemToDate" name="accItemToDate"
                                            required value="@accitems.itemToDate">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label required col-sm-2" for="accItemFee">Rental Fee:</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon left">
                                                <span class="glyphicon glyphicon-euro"></span>
                                            </span>
                                            <input type="number" class="form-control" id="accItemFee" name="accItemFee" min="0"
                                            step="0.01" value="@accitems.itemFee">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label required col-sm-2" for="ccItemDeposit">Deposit:</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon left">
                                                <span class="glyphicon glyphicon-euro"></span>
                                            </span>
                                            <input type="number" class="form-control" id="accItemDeposit"
                                            name="accItemDeposit" min="0" step="0.01" value="@accitems.itemDeposit">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                            @if(accitems.renterId == 0) {
                                <button type="submit" class="btn btn-primary" value="update" name="action">Update</button>
                                <button type="submit" class="btn btn-danger" value="delete" name="action">Delete</button>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- hidden fields-->
                <input type="text" readonly hidden value="@accitems.itemId" name="itemId">
            </form>
        }


    </div>

}

