@homeMain("contactus") {
    <form name="contactform" method="post" action="#" onsubmit="return validate.check(this)">
        <table width="400px" class="contactform">
            <tr>
                <td colspan="2">

                    <div class="contactformheader"><p> <h3>Contact Us Form</h3></div>

                    <br><br><br>

                    <div class="contactformmessage">Fields marked with <span class="required_star"> * </span>
                        are mandatory.</div>
                    <br>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="Full_Name" class="required">Full Name<span class="required_star"> </span></label>
                    <br>
                </td>
                <td valign="top">
                    <input type="text" name="Full_Name" id="Full_Name" maxlength="80" style="width : 230 px">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="Email_Address" class="required">Email Address<span class="required_star">  </span></label>
                </td>
                <td valign="top">
                    <input type="text" name="Email_Address" id="Email_Address" maxlength="100" style="width : 230 px">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="Telephone_Number" class="not-required">Telephone Number</label>
                </td>
                <td valign="top">
                    <input type="text" name="Telephone_Number" id="Telephone_Number" maxlength="100" style="width : 230 px">
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="Your_Message" class="required">Your Message<span class="required_star"> </span></label>
                </td>
                <td valign="top">
                    <textarea style="width : 230 px ; height : 160 px" name="Your_Message" id="Your_Message" maxlength="2000"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align : center" >
                    <div class="antispammessage">
                        To help prevent automated spam, please answer this question
                        <br /><br />
                        <div class="antispamquestion">
                            <span class="required_star"> * </span>
                            Using only numbers, what is 10 plus 15? &nbsp;
                            <input type="text" name="AntiSpam" id="AntiSpam" maxlength="100" style="width : 30 px">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align : center" >
                    <br /><br />
                    <input type="submit" value=" Submit Form " style="width : 200 px ; height : 40 px">
                    <br /><br />


                    <br /><br />
                </td>
            </tr>
        </table>
    </form>
}