@(message: java.lang.String)(isError: java.lang.Boolean)
@homeMain("home") {

    @if(message != null) {
        <div class="alert" xmlns="http://www.w3.org/1999/html">@message</div>
        @if(isError) {
            <script>
                $('.alert').addClass('alert-danger');
            </script>
        } else {
            <script>
                $('.alert').addClass('alert-success');
            </script>
        }
    }


    <div class="container-fluid contentContainer" id="homeContainer" >       <div class="row">          <div class="col-md-6 col-md-offset-2 ">               <img src="@routes.Assets.at("images/logo.png")" class="center col-md-offset-3" alt="" height="150                              px" />              <h1 class="center">Welcome to RentWhatIHave.com</h1>                <p class="lead center">Rent and offer items in your neighborhood </p>                 <div class="row col md-8">                  <div class="col-md-4 center margin-top">                     <h1><span class="glyphicon glyphicon-piggy-bank"></span></h1>                     <h2>Save money</h2>                     <p>Instead of buying stuff you only need a few times,                         you can rent those items from your neihborhood for a small rental fee. If you own an item that just lies around, offer this item on our platform and help the item pay for itself!</p>                   </div>                  <div class="col-md-4 center margin-top">                     <h1><span class="glyphicon glyphicon-heart-empty"></span></h1>                     <h2>Find trustworthy renters</h2>                     <p>Our rating system ensures your stuff only gets rented by people you can trust. In addition we offer 24/7 customer service to help solving your problems, in case something gets wrong. </p>                   </div>                  <div class="col-md-4 center margin-top">                     <h1><span class="glyphicon glyphicon-lock"></span></h1>                     <h2>Never Worry Policy&trade;</h2>                      <p>With RentWhatIhave.com you don't have to worry.                         Together with our insurance partners we offer an extensive compensation policy in case your items get damaged or lost.  </p>                  </div>              </div>          </div>      </div>  </div> 




    <script>
            $(".contentContainer").css("min-height",$(window).height());
        </script>
}