@(message: java.lang.String)
@homeMain("howitworks") {

        <body>
            <div id="site-container">
                <header>

                    <h1 class="logo visuallyhidden"><center><u>Rent What i have Inc.</u></center></h1>
                    <div class="main">
                        <div class="logo-container" <img src='@routes.Assets.at("images/swooshes.png")' height = "100" width="100" align="middle"/>

                    </div>
                        <!-- end logo container -->
                    <div class="sub">
                        <h2 class="tagline"><center>Small but Mighty</center></h2>
                        <p class="blurb"><center> A Munich Based Renting agency</center></p>
                    </div>
                        <!-- end sub -->
            </div>

                <!-- end main -->

                <!-- end work -->


                <!-- end approach -->
            <section id="philosophy">
                <aside class="group">
                    <div class="left-col"><img src='@routes.Assets.at("images/swooshes.png")' height = "200" width="400" align = "middle"/></div>
                    <div class="right-col">
                        <div class="content">
                            <h1><u>Our Philosophy</u></h1>
                            <h2>Since 2015, Rent what i have Inc values have been rooted in creativity, transparency and industry leadership.</h2>
                            <p>It's our mission to build a dynamic environment that leads to great work and longstanding relationships with our clients, team and partners. We love to learn with our clients, help them break through internal bureaucratic barriers and at the end of the day, exceed their expectations for what a client/agency partnership can be.</p>
                        </div>
                    </div>
                </aside>
            </section>
                <!-- end philosophy -->
            <section id="contact">

                <aside class="group">
                    <div class="left-col"></div>
                    <div class="right-col">
                        <div class="content">
                            <h1><u>Come By and Say Hi!</u></h1>
                            <h2>We would love to speak to you. Feel free to call, send us an email, or tweet us!</h2>
                            <aside class="group">
                                <div class="small-col">
                                    <h3>Our Address</h3>
                                    <a target="_new" href="https://www.google.de/maps/place/Schröfelhofstraße+18,+81375+München">
                                        Schroefelhofstrasse 18, Stiftsbogen<br />Munich City, Munich 81375</a>
                                </div>
                                <div class="small-col">
                                    <h3>Let's Chat</h3>
                                    <img class="icon" src='@routes.Assets.at("images/contact-phone.png")' /><a target="_new" href="tel:176-7276-0919">
                                    176 7276 0919</a><br />
                                    <img class="icon" src='@routes.Assets.at("images/contact-email.png")' /><a target="_new" href="#"</a> <br>
                                    <img class="icon" src='@routes.Assets.at("images/contact-twitter.png")' /><a target="_new" href="http://twitter.com/avira">
                                    Avira</a>
                                </div>
                            </aside>
                        </div>

                    </div>
                </aside>

            </section>
                <!-- end contact -->
            <footer>
                <div>Rent What i have Inc &copy ; 2015</div>
            </footer>
            <div id="overlay" class="off"></div>
            </div>
                <!-- end site container -->

            <script src="scripts/vendor-90e0e958.js"></script>

            <script src="scripts/main-5cc94150.js"></script>

            <script type="text/javascript">
	var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4029747-1']);
	  _gaq.push(['_trackPageview']);
	(function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>

                <!-- Begin Inspectlet Embed Code -->
            <script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1709664304]);
(function() {
function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
if (window.attachEvent) window.attachEvent('onload', __ldinsp);
else window.addEventListener('load', __ldinsp, false);
})();
</script>
                <!-- End Inspectlet Embed Code -->

        </body>

}