@(categories: java.util.List[Categories])(message: java.lang.String)(isError: java.lang.Boolean)
    @main("listNewItem") {
        @if(message != null) {
            <div class="alert" xmlns="http://www.w3.org/1999/html">@message</div>
            @if(isError) {
                <script>
                $('.alert').addClass('alert-danger');
            </script>
            } else {
                <script>
                $('.alert').addClass('alert-success');
            </script>
            }
        }

        <h2 class="marginTop"><strong>List a new item</strong></h2>
        <form class="form-horizontal" action="listnew" method="post">
            <div class="form-group row" style="padding-top : 2 %">
                <label class="control-label col-sm-2 required" for="itemName">Item Name:</label>
                <div class="col-sm-4 ">
                    <input type="text" class="form-control" id="itemName" name="itemName"
                    placeholder="Item Name" required ng-model="itemNameAngular">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 required" for="itemCategory">Item Category:</label>
                <div class="col-sm-4">
                    <select class="form-control" name="itemCategory" id="itemCategory"
                    required ng-model="itemCategoryAngular"> <!--ng-change="itemCategoryChanged()"
                ng-options="category.id as category.name for category in categories"-->
                        <option value="">Please Select..</option> <!-- set default value -->
                        @for(category <- categories) {
                            <option value="@category.id">@category.name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2 required " for="itemTitle">Item Title:</label>
                <div class="col-sm-4 ">
                    <input type="text" class="form-control" name="itemTitle"
                    id="itemTitle" placeholder="Item Title" required ng-model="itemTitleAngular">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="imageUpload">Upload Picture:</label>
                <div class="col-sm-4">
                    <input item-image type="file" id="itemImageUpload" name="itemImageUpload"
                    ng-model="image">
                    <p class="help-block">Please upload an image of your item</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 required" for="itemAddress">Address:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="itemAddress" name="itemAddress"
                    placeholder="Address" required ng-model="itemPostalAngular">
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="itemDescription">Item Description:</label>
                <div class="col-sm-4">
                    <textarea rows="2" cols="40" class="form-control" id="itemDescription"
                    name="itemDescription" placeholder="Description" ng-model="itemDescriptionAngular">
                        Enter Description</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 required" for="itemDuration">Duration:</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> From:</span></span>
                        <input type="text" class="form-control" id="itemFromDate" name="itemFromDate"
                        required ng-model="itemFromDateAngular">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"> To:</span></span>
                        <input type="text" class="form-control" id="itemToDate" name="itemToDate"
                        required ng-model="itemToDateAngular">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label required col-sm-2" for="itemFee">Rental Fee:</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon left">
                            <span class="glyphicon glyphicon-euro"></span>
                        </span>
                        <input type="number" class="form-control" id="itemFee" name="itemFee" min="0"
                        step="0.01" ng-model="itemFeeAngular">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label required col-sm-2" for="itemDeposit">Deposit:</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon left">
                            <span class="glyphicon glyphicon-euro"></span>
                        </span>
                        <input type="number" class="form-control" id="itemDeposit"
                        name="itemDeposit" min="0" step="0.01" ng-model="itemDepositAngular">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="itemInsurance">Insurance:</label>
                <div class="col-sm-6">
                    <input type="checkbox" id="itemInsurance" name="itemInsurance"
                    ng-model="itemInsuranceAngular"> Insure this product <span ng-show="itemDepositAngular">
                    for {{itemDepositAngular*0.05}} €</span>
                    <p class="help-block"><a href="#">Learn more?</a></p>
                </div>
            </div>
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">
                Preview
            </button>
                <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content modal-bg">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="previewModalTitle"> List an item </h4>
                        </div>
                        <div class="modal-body">

                            <div>
                                <div class="card">
                                    <h4>Item name </h4>{{itemNameAngular}}
                                    <h4>Item Category </h4>{{categories[itemCategoryAngular-1].name}} <!-- listNew is reduced by 1 because category IDs start from 1 instead of 0 -->
                                    <h4>Item Title </h4> {{itemTitleAngular}}
                                    <h4>Postal Code </h4>{{itemPostalAngular}}
                                    <span ng-if="itemDescriptionAngular">
                                        <h4>Item Description </h4>
                                        <textarea readonly class="noBorder
                                        textArea_noHorizontalResize">{{itemDescriptionAngular}}</textarea>
                                    </span>
                                    <h4>From </h4>
                                    <span>{{itemFromDateAngular | date:'dd/MM/yyyy'}}</span>
                                    <h4>To </h4>
                                    <span>{{itemToDateAngular | date:'dd/MM/yyyy'}}</span>
                                    <p class="rentalFee">{{itemFeeAngular}}€</p>
                                    <h4>Deposit </h4>{{itemDepositAngular}}
                                    <!-- If Insurance checkbox selected, show YES otherwise NO -->
                                    <h4>Insurance </h4>
                                    <span ng-show="itemInsuranceAngular">Yes</span>
                                    <span ng-show="!itemInsuranceAngular">No</span>
                                        <!-- Image Preview -->
                                    <img ng-if="itemImage" src="{{itemImage}}" alt=""
                                    height="75px" class="vertical-quater float-right overflow-auto">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Return</button>
                            <button type="submit" class="btn btn-primary" id="itemSubmit">Publish</button>
                        </div>
                    </div>
                </div>
            </div>

                <!--hidden fields for storing latitude & longitude of item -->
            <input type="text" readonly id="itemLat" name="itemLat" hidden>
            <input type="text" readonly id="itemLng" name="itemLng" hidden>
        </form>
    }

