@(requestItems: java.util.List[ItemDetails])
    @main("default") {

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css">
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>


        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>

        <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
    $('#accountItemsTable').DataTable();
      } );
    </script>


        <h2 class="marginTop"><strong>Rent Requests</strong></h2>
        <div class="col-md-8 ">




                <!--TO DO: show a message "No Results found, try different parameters"-->


            <table id="requestsItemsTable" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>

                        <th>Item</th>
                        <th>From:</th>
                        <th>To:</th>
                        <th>Fee:</th>
                        <th>Deposit:</th>
                        <th>User Rating:</th>
                        <th> </th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                @for(item <- requestItems) {
                    <form method="post" action="/processRentRequest">
                        <tr>
                            <td>@item.itemName</td>
                            <td>@item.itemFromDate</td>
                            <td> @item.itemToDate</td>
                            <td>&euro; @item.itemFee </td>
                            <td>&euro; @item.itemDeposit</td>
                                <!--TO DO : STARS RATING-->
                            <td>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </td>
                            <td><button type="submit" class="btn btn-primary btn-success"
                            name="action" value="accept">Accept</button>
                            </td>
                            <td><button type="submit" class="btn btn-primary btn-danger"
                            name="action" value="reject">Reject</button>
                            </td>
                        </tr>
                            <!--hidden fields-->
                        <input type="text" readonly hidden name="requestItemId" value="@item.id">
                    </form>
                }
                </tbody>
            </table>


        </div>

    }