@(searchResultItems: java.util.List[helpers.ShowItems])
@main("search") {

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>


    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
    $('#searchResultsTable').DataTable();
      } );
    </script>


    <h2 class="marginTop"><strong>Your search results</strong></h2>
    <div class="col-md-8 ">


            <!--TO DO: show a message "No Results found, try different parameters"-->



        <table id="searchResultsTable" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>

                    <th>Item</th>
                    <th>From:</th>
                    <th>To:</th>
                    <th>Fee:</th>
                    <th>Deposit:</th>
                    <th>Distance:</th>
                    <th>User Rating:</th>

                </tr>
            </thead>
            <tbody>
            @for(searchResultItem <- searchResultItems) {
                <tr>
                    <td>@searchResultItem.itemName</td>
                    <td>@searchResultItem.itemFromDate</td>
                    <td> @searchResultItem.itemToDate</td>
                    <td>&euro; @searchResultItem.itemFee </td>
                    <td>&euro; @searchResultItem.itemDeposit</td>
                    <td>@searchResultItem.itemDistance km</td>

                        <!--TO DO : STARS RATING-->
                    <td>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </td>


                    <td><button type="button" class="btn btn-primary btn-default" data-toggle="modal"
                    data-target="#@searchResultItem.itemId">Details</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>


        @for(searchResultItem <-searchResultItems) {
            <form method="post" action="applyForRent">
                <div class="modal fade" id="@searchResultItem.itemId" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content modal-bg">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="previewModalTitle">@searchResultItem.itemName</h3>
                            </div>

                            <div class="modal-body">

                                <div class="form-group row">

                                    <label class=" col-sm-4" for="searchResultItemTitle">Item Title:</label>
                                    <div class="col-sm-6">
                                    @searchResultItem.itemTitle
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-4"
                                        for="serachResultItemDescription">Item Description:</label>
                                    <div class="col-sm-6">
                                    @searchResultItem.itemDescription
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="searchItemFromDate">From:</label>
                                    <div class="col-sm-6">
                                    @searchResultItem.itemFromDate
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="searchItemToDate">To:</label>
                                    <div class="col-sm-6">
                                    @searchResultItem.itemToDate
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="searchItemFee">Rental Fee:</label>
                                    <div class="col-sm-6">
                                            &euro; @searchResultItem.itemFee
                                        </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="searchItemToDate">Deposit:</label>
                                    <div class="col-sm-6">
                                        &euro; @searchResultItem.itemDeposit
                                        </div>
                                </div>



                                <!--<div class="form-group row">
                                    <label class="control-label col-sm-2" for="searchItemToDate">Rating:</label>
                                    <div class="col-sm-4">

                                            ****
                                    </div>
                                </div> -->



                                <div class="modal-footer">

                                    <button type="submit" class="btn btn-success" value="Rent"
                                    name="action"><span class="glyphicon glyphicon-check">

                                    </span>  Rent now for @searchResultItem.itemFee &euro; </button>


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!--hidden fields-->
                <input type="text" readonly hidden name="itemId" value="@searchResultItem.itemId">
            </form>
        }
    </div>

}