@(categories: java.util.List[Categories])
@main("search") {


    <div class="contentContainer" id="searchFormContainer">
        <h2 class="marginTop"><strong>Search for an item</strong></h2>
        <div class="col-md-6 ">

            <form role="form" method="POST" action="searchResults" >
                <div class="form-group">
                    <input class="form-control" id="searchItemName" name="searchItemName"
                    type="text" required placeholder="Search">
                </div>

                <btn-group class="btn.btn-group-justified" role="group">


                    <button class="btn btn-success" id="simpleSearchBtn" type="submit" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>


                    <button class="btn btn-primary" id="advancedSearchBtn" type="button"
                    data-toggle="collapse" data-target="#advancedSearchWell" aria-expanded="false"
                    aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-list-alt"></span> Advanced Search
                    </button>


                    <div class="collapse" id="advancedSearchWell">
                        <div class="well">

                            <div id="advancedSearchWellContent">


                                <div class="form-group row">
                                    <label class="control-label col-md-3 required" for="advancedSearchItemName">
                                        Item Name:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="advancedSearchItemName" name="searchItemName" type="text">
                                    </div>
                                </div> <!--end div form row categories-->


                                <div class="form-group row">
                                    <label class="control-label col-md-3 required" for="searchItemCategory">
                                        Item Category:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="searchItemCategory" id="searchItemCategory"> <!--ng-change="itemCategoryChanged()"
                                 ng-options="category.id as category.name for category in categories"-->
                                            <option value="">Please Select..</option> <!-- set default value -->
                                            @for(category <- categories) {
                                                <option value="@category.id">@category.name</option>
                                            }
                                        </select>
                                    </div>
                                </div> <!--end div form row categories-->

                                <div class="form-group row">
                                    <label class="control-label col-md-3 required" for="itemDuration">Duration:</label>

                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar">
                                                From:</span></span>
                                            <input type="text" class="form-control" id="searchItemFromDate" name="searchItemFromDate">
                                        </div>
                                    </div> <!--end datefrom-->

                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar">
                                                To:</span></span>
                                            <input type="text" class="form-control" id="searchItemToDate" name="searchItemToDate">
                                        </div>
                                    </div>

                                </div> <!--end date form row date-->

                                <div class="form-group row">
                                    <label class="control-label required col-sm-3" for="maxItemFee">
                                        Maximum Rental Fee:</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <span class="input-group-addon left">
                                                <span class="glyphicon glyphicon-euro">/day</span>
                                            </span>
                                            <input type="number" class="form-control" id="maxItemFee" name="maxItemFee" min="0"
                                            step="0.01">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="control-label required col-sm-3" for="maxDistance">Maximum Distance:</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <span class="input-group-addon left">
                                                <span class="glyphicon glyphicon-screenshot">km</span>
                                            </span>
                                            <input type="number" class="form-control" id="maxDistance" name="maxDistance" min="0"
                                            step="0.5" >
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-success" id="advancedSearchBtn" type="submit" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </div>
                        </div>
                    </div> <!--end advancedsearchcontentdiv-->


                </btn-group>

                    <!-- hidden fields -->
                <input type="text" readonly hidden id="isAdvSearch" name="isAdvSearch" value="false">
                <input type="text" readonly id="userLat" name="userLat" hidden>
                <input type="text" readonly id="userLng" name="userLng" hidden>
            </form>
        </div>


    </div>

    <!--Start searchResultsContainer div-->

    <div class="resultContainer" id="searchResultsContainer">

            <!--end searchResultsContainer div-->

        <div class="collapse" id="searchItemDetailWell">
            <div class="well col-md-8">

                More Info here

            </div>
        </div> <!--end search Result wells-->


    </div>

    <script>
            $(".resultContainer").css("min-height",$(window).height());
     </script>
    <script>
            $(".contentContainer").css("min-height",$(window).height());
     </script>
}



